<div class="form-group">
    <hr />
    <input type="submit" value="Delete" class="btn btn-danger btn-sm" name="btnDelete" id="btnDelete" />
    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
</div>