@model Appbooks.dto.Book

<div class="row">
    <div class="col-sm-12">
        <form method="post" asp-page-handler="create">

            <partial name="_BookControlsFormPartial" model="@Model" />

            <partial name="_ButtonsModalSaveCancelPartial" />
            
        </form>
    </div>
</div>
